/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 0; /* Elimina el relleno predeterminado del body */
    background: linear-gradient(to bottom, #000000, #1f1f1f, #333);   
}

.logotipo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; /* Asegura que el logotipo esté por encima de otros elementos */
    width: 6%; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Mantiene la proporción original */
    border-radius: 50%;
}


/*Título*/
.titulo {
    border: px solid red;
    display: flex; /* Activa el modelo de caja flexible */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    margin-bottom: 0px;
    padding: 0px;
    height: auto;
    width: auto;
    /*Imagen de fondo*/
    background-image: url("../images/_22f39219-dbdd-4227-a34a-dfd1ab2e290c.jpeg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center 20%; /* Ajusta la posición vertical de la imagen */
    background-color: #000000;
}

.contenedor-padre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    margin-bottom: 20%;
}

h1 {
    margin-top: 0;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: #000000cc;
    display: inline-block;
    padding: 10px;
    text-shadow: 0 0 10px rgb(213, 8, 189);
}

/* Pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Estilos para la sección de información */
#info {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

#info h2  h3{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.creador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.creador img {
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 50%; /* Hace que la imagen tenga bordes redondeados */
    margin-bottom: 10px;
}

.creador p {
    text-align: center;
    margin-bottom: 10px;
}

/* Estilos responsivos para la sección de información */
@media screen and (max-width: 768px) {
    #info {
        padding: 10px;
    }

    #info h2 h3 {
        font-size: 20px;
    }

    .creador img {
        width: 80px; /* Ajusta el tamaño de la imagen en dispositivos más pequeños */
    }
}

@media screen and (max-width: 480px) {
    #info h2 h3 {
        font-size: 18px;
    }

    .creador img {
        width: 60px; /* Ajusta el tamaño de la imagen en dispositivos móviles */
    }
}


